# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
site/.next/
site/out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/
env/

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
scripts/*.txt
